<div *ngIf="loader">
  <app-loader></app-loader>
</div>

<div *ngIf="!loader" class="container" #container>
  <ul class="navigation" #navigation>
    <li class="selected" (click)="scrollToSection(0)"></li>
    <li (click)="scrollToSection(1)"></li>
    <li (click)="scrollToSection(2)"></li>
    <li (click)="scrollToSection(3)"></li>
  </ul>
  <main #main>
    <section #section><div>Section 1</div></section>
    <section #section><div>Section 2</div></section>
    <section #section><div>Section 3</div></section>
    <section #section><div>Section 4</div></section>
  </main>
</div>
